standby_mode = 'on'
primary_conninfo = 'host={{ postgresql_master_ip }} port=5432 user={{ postgresql_replication_user.name }}'
trigger_file = '/var/lib/postgresql/{{ postgresql_version }}/main/failover'

